# obsahuje GitHub token
.gitconfig

# obsahuje hesla
.fetchmailrc*

# obsahuje penezenku
*.swp

.gitk
.tuxguitar-1.2
.mnemosyne

.slocdata
.fehbg
.gpg

.dbshell

.xmonad/*.hi
.xmonad/*.o
.xmonad/*.errors
.xmonad/xmonad-x86_64-linux
.xmonad/history

# info z vimperatoru: nechci zalohovat
.vimperator/info

# RSA nechci zalohovat!
.ssh

# cache se nehodi.
.cache

# TODO: playlisty...
.mpd

# z flashe nezalohuju
.macromedia
.adobe

.config/menus

# obsahuje asi jenom sockety
.dbus

# obsahuje nainstalovane gemy
.gem

# hlavne .gstreamer-0.10/registry.x86_64.bin
*.bin

# obsahuje runtime veci
.pulse

# obsahuje historii, ...
.elinks

# obsahuje pozici okna
.config/gtk-2.0/gtkfilechooser.ini

.config/libreoffice/

# obsahuje volatilni veci
.config/dconf/user

# obsahuje cache
.config/Trolltech.conf

# neobsahuje zajimave veci
.VirtualBox

# obsahuje jenom cache, logy, a trusted certificates
.icedtea

# neni verejne
.gnupg
.pki

# neobsahuje konfiguraky ktere chci uchovavat
.vagrant.d

# obsahuje seznam moji hudby.....
.lyrics

# jenom "WHEREAREMYFILES"
.wicd

# obsahuje spousty ruznych cachi, historii, ...
.mozilla

# obsahuje staty transmissionu
.config/transmission

# obsahuje pozice okna Skypu
.config/Skype/Skype.conf

.adom.data/*

# obsahuje pozice okna LyXu
.config/LyX/lyx.conf

# system-specific
.config/xbuild

# casto se meni
.config/geeqie/geeqierc.xml
.config/geeqie/accels
.config/zim/accelmap
.config/libreoffice/3/user/registrymodifications.xcu

# obsahuje pozice okna Homebank
.config/homebank/preferences
# je volatilni
.config/homebank/lastopenedfiles*

# obsahuje zbytecnosti
.LuminanceHDR

# obsahuje pozice okna
.config/Luminance

# je cache
.config/MonoDevelop-3.0/repository-cache

# obsahuje pozice okna
.config/vlc/vlc-qt-interface.conf
.config/vlc/vlcrc

# neni dulezite a obsahuje zrejme secrets
.Skype

# neni dulezite a je mutabilni
.audacity-data

# hlavne v .bundler
*/tmp/*

# .darcs
*/cache/*

# celkove nechci zadne TeXLive
.texlive

# Gervill je syntetizer, zrejme pro TuxGuitar. neni potreba.
.gervill

# ve Wiresharku nemam zadna divna nastaveni
.wireshark

# history, probably zsh
.histfile

# ltris: neni treba ukladat...
.lgames

# .lftp/rl_history: nechci
*history*

# obsahuje tajemstvi
.subversion/auth
.subversion/servers

# nezajimave
.subversion/README.txt

# obsahuje historii otevreni souboru
.mono/mwf_config

# obsahuje historii fishe
.config/fish

# recently used colors
.gimp-2.8/colorrc

# recently closed docks
.gimp-2.8/dockrc

# session-specific info
.gimp-2.8/sessionrc

# nastaveni nastroju: volatile
.gimp-2.8/tool-options

# volatile
.gimp-2.8/parasiterc
.gimp-2.8/templaterc
.gimp-2.8/controllerrc
.gimp-2.8/menurc

# non-necessary
.gimp-2.8/pluginrc

.gimp-2.8/tags.xml

# obsahuje pozici okna Orage :(
.config/orage/oragerc

# obsahuje treba less, tj. programy
.npm

# obsahuje historii a .confy pro haskell
.ghc

# secrets
.config/gtk-3.0/bookmarks

# je balickovaci manazer
.cabal

# obsahuje pomerne nedulezite veci plus velke obrazy androidovych virtualnich veci
.android

# obsahuje pozice okna
.config/MonoDevelop-3.0/*
.config/MonoDevelop/log

# volatilni; velikost panelu
.config/mc/ini
.config/mc/panels.ini

.config/geeqie/history
.config/chromium
.config/bless/history.xml
.config/bless/last.session

# obsahuje asi jenom sockety
.dbus

# obsahuje nainstalovane gemy
.gem

# hlavne .gstreamer-0.10/registry.x86_64.bin
*.bin

# obsahuje runtime veci
.pulse
.config/pulse

# obsahuje historii, ...
.elinks

# obsahuje pozice okna Skypu
.config/Skype/Skype.conf

.config/transmission/dht.dat
.adom.data/*

# obsahuje pozice okna LyXu
.config/LyX/lyx.conf

# system-specific
.config/xbuild

# casto se meni
.config/geeqie/geeqierc.xml
.config/geeqie/accels
.config/libreoffice/3/user/registrymodifications.xcu

# obsahuje pozice okna Homebank
.config/homebank/preferences

# obsahuje zbytecnosti
.LuminanceHDR

# obsahuje pozice okna
.config/Luminance

# je cache
.config/MonoDevelop-3.0/repository-cache

# obsahuje pozice okna
.config/vlc/vlc-qt-interface.conf

# neni dulezite a obsahuje zrejme secrets
.Skype

# neni dulezite a je mutabilni
.audacity-data

# hlavne v .bundler
*/tmp/*

# cache LuaTeX
.texlive/texmf-var/luatex-cache

# Gervill je syntetizer, zrejme pro TuxGuitar. neni potreba.
.gervill

# ve Wiresharku nemam zadna divna nastaveni
.wireshark

# history, probably zsh
.histfile

# ltris: neni treba ukladat...
.lgames

# .lftp/rl_history: nechci
*history*

# obsahuje tajemstvi
.subversion/auth
.subversion/servers

# obsahuje historii otevreni souboru
.mono/mwf_config

# obsahuje historii fishe
.config/fish

# recently used colors
.gimp-2.8/colorrc

# recently closed docks
.gimp-2.8/dockrc

# session-specific info
.gimp-2.8/sessionrc

# nastaveni nastroju: volatile
.gimp-2.8/tool-options

# volatile
.gimp-2.8/parasiterc
.gimp-2.8/templaterc
.gimp-2.8/controllerrc
.gimp-2.8/menurc

# non-necessary
.gimp-2.8/pluginrc

.gimp-2.8/tags.xml

.config/google-googletalkplugin/*.log.bz2

# nechci zadne pidfiles
.*pid

# nechci steam
.steam*

*/recent-files

# libpurple: online ucty
.purple

.gtk-bookmarks

# vlastne Freemind ani LyX nepouzivam tak moc abych tohle vubec potreboval
.freemind
.lyx

# volatilni a ohromne
.eclipse

.kde4/cache-*
.kde4/socket-*
.kde4/tmp-*

# volatilni
.kde4/share/config/*

# LFTP historie a logy
.lftp/*history
.lftp/*log

# avidemux: nic zajimaveho
.avidemux

# drobnosti s Octave
.octaverc
.octave_packages

# Easytag nema co ukladat
.config/easytag

# Q3A nema co ukladat
.q3a

# MyPaint nema co ukladat
.mypaint

# Bundler ma jenom lokalni data
.bundler

# zsh completion
.zcompdump
.zshrc.zni

.local

.ncmpcpp/artists

.remmina
.vnc

.icons

.xournal/config
.config/gtk-3.0/settings.ini
.gtkrc-2.0
.gnuplot-wxt
.config/gnuplot/qtterminal.conf

.config/evince/accels

.vim/doc/tags

.litecoin
.bitcoin
.mining-bitcoin-cz-token

.config/Bitcoin
.config/Litecoin

# Intelligent battery monitor data
.ibam

# Secrets
.sis-credentials.yml

.adom.data

*/lastopenedfiles.*

.config/Pencil # not needed

.watched-sites.yml
.watched-sites-contents

.btckit
.iks-portfolio.yml

.frictionalgames

# Yard docs
.yard

# Zenmap
.zenmap

# Bro pages config
.bro

.vim-keylog

.isko-cache

# maven
.m2

# PhantomJS
.qws/share/data/Ofi Labs/PhantomJS

.googleearth/Temp

# ZSH completion dumps
.zcompdump*

.sane
.ut2004
.vuescan
.yardoc
.602filler

.config/Google/GoogleEarthPlus.conf
.googleearth
.config/Atlassian/HipChat.conf

.zsh-update

.heroku

.gfx.js
.freeciv*

# file open dialog config
.config/QtProject.conf

# Heroku passwd
.netrc

.magick/ImagemagickOpenCLDeviceProfile

# Fetchmail ids
.fetchids

.config/MonoDevelop-4.0/
.fltk
.ivy2

# htop conf is easy to restore
.config/htop/htoprc

.cpan
.sbt

.stock-portfolio.yml
