bazel-*
*.swp
__pycache__
.ipynb_checkpoints
website/.sass-cache
website/_cache

**/.claude/settings.local.json

# Stopgap against mess trying to mix RCM & non-RCM dotfiles
# (Those are supposed to be non-RCM)
dotfiles/config/cronomix/**
dotfiles/config/OrcaSlicer/**

**/*.egg-info

.DS_Store

.venv/

node_modules

.direnv/
