[submodule ".oh-my-zsh"]
	path = dotfiles/oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule ".mutt-colors"]
	path = dotfiles/mutt-colors
	url = https://github.com/altercation/mutt-colors-solarized
[submodule "mc/lib"]
	path = dotfiles/mc/lib
	url = https://github.com/iwfmp/mc-solarized-skin.git
[submodule "llm/ducktape_llm_common/references/pre-commit-hooks"]
	path = llm/ducktape_llm_common/references/pre-commit-hooks
	url = https://github.com/pre-commit/pre-commit-hooks.git
