services:
  powerdns:
    image: powerdns/pdns-auth-master:latest
    container_name: powerdns
    network_mode: host  # Use host networking for Tailscale AXFR zone transfers
    volumes:
      - ./sqlite-data:/var/lib/powerdns
      - ./config/pdns.conf:/etc/powerdns/pdns.conf:ro
    restart: unless-stopped
