server {
    listen 80;
    server_name adgn.link www.adgn.link;
    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    server_name adgn.link www.adgn.link;

    ssl_certificate /etc/letsencrypt/live/adgn.link/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/adgn.link/privkey.pem;

#	    # TODO: what's this for?
#	    location / {
#		return 301 https://www.agentydragon.com;
#	    }
#
#	    location /nfc {
#		# 302 = temporary redirect (301 is permanent)
#		return 302 https://www.agentydragon.com/nfc.html;
#	    }
#
#	    location /found {
#		# 302 = temporary redirect (301 is permanent)
#		return 302 https://www.agentydragon.com/found.html;
#	    }

    location / {
        proxy_pass http://localhost:{{ pygmy_localhost_http_port }};
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}
