mirrors:
  "{{ k3s_registries_registry_host }}":
    endpoint:
      - "{{ k3s_registries_registry_endpoint }}"

configs:
  "{{ k3s_registries_registry_host }}":
    tls:
      insecure_skip_verify: true
