[defaults]
action_plugins = ./plugins/action
module_utils = ./plugins/module_utils
inventory = ./inventory.yaml
connection_plugins = ./plugins/connection
vault_identity_list = default@./tools/vault_pass.sh
vault_encrypt_identity = default

